<div id="rankingPopup" style="display:none; position:fixed; top:10%; left:10%; width:80%; background:#fff; border:1px solid #ccc; padding:1em; box-shadow:2px 2px 10px rgba(0,0,0,0.3); z-index:1000;">
  <div class="popup-content">
    <span id="closePopup" style="cursor:pointer; float:right; font-weight: bold;">✖</span>
    <h3>📈 Top Rated Books This Month</h3>
    <ul id="rankingList"></ul>
  </div>
</div>
